<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h2>User Info</h2>

<div>
    <form action="#" th:action="@{/saveUser}" th:object="${user}">
        <input type="hidden" th:field="*{id}">

        Name <input type="text" th:field="*{firstName}">
        <br><br>
        Last Name <input type="text" th:field="*{lastName}">
        <br><br>
        E-mail <input type="text" th:field="*{email}">

        <input type="submit" value="OK">
    </form>
</div>

</body>
</html>